table {
	border-collapse: collapse;
}

td {
	width: 45px;
	height: 45px;
	border: 1px solid gray;
}

th {
	border-left: none;
}

.row-header {
	min-width: 90px;
}

.on {
	background: black;
}

.off {
	background: gray;
}
