table {
	border-collapse: collapse;
}

td {
	width: 30px;
	height: 30px;
	border: 1px solid gray;
}

th {
	min-width: 90px;
	border-left: none;
}

.on {
	background: black;
}

.off {
	background: gray;
}
